#grid {
	margin-bottom: 20px;
}

#userInputs {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.show-cell {
	width: 25px;
	height: 22.5px;
	text-align: center;
}

.grid-table {
	margin-left: auto;
	margin-right: auto;
}

.grid-table::selection {
	background-color: Transparent;
	color: #000;
}

td::selection {
	background-color: Transparent;
	color: #000;
}

td {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}